<link href="/assets/css/bootstrap-2.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="/assets/css/style3.css" rel="stylesheet">
<div class="container-fluid position-relative d-flex p-0">

    <div class="container h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-white" style="border-radius: 25px;background-color: rgba(255, 0, 0, 0.0);">
                    <div class="card-body  p-md-5 ">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-1">Add New Category
                                </p>

                                <form action="/admin/add-category" method="post" class="mx-1 mx-md-4">
                                    <div class="">
                                        <a href="/admin/category-management" class="" style="padding-left: 17rem;"><i
                                                class="fa fa-times text-danger fa-3x" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="row">
                                        {{#if categoryRepeatError}}
                                        <div class="alert alert-danger">
                                            <strong>{{categoryRepeatError}}</strong>
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class=" fa fa-thin fa-suitcase-rolling fa-lg me-3 fa-fw mb-4"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="category" id="category"
                                                onkeyup="validateCategory()" class="form-control"
                                                style="text-transform:uppercase ;" />
                                            <label class="form-label" for="form3Example3c">Category
                                                Name</label>
                                            <span id="cat-error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 pt-2">
                                        <button onsubmit="formSubmit()" type="submit"
                                            class=" btn btn-primary btn-lg">Add
                                            Category</button>
                                    </div>

                                </form>



                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- </section> --}}
    {{!-- </section> --}}
</div>
</div>
</div>

<script>
    var catError = document.getElementById('cat-error')

    function validateCategory() {
        var category = document.getElementById('category').value.trim();

        if (category.length == 0) {
            catError.innerHTML = 'Feild is Required';
            catError.style.color = 'red'
            return false;
        }

        if (!category.match(/^[A-Za-z ]*$/)) {
            catError.innerHTML = 'Only Alphabets allowed';
            catError.style.color = 'red'
            return false;
        }
        if (category.length < 2) {
            catError.innerHTML = 'Enter correct category';
            catError.style.color = 'red'
            return false;
        }

        catError.innerHTML = 'Name is valid';
        catError.style.color = 'green'
        return true;
    }

    $(document).on("submit", "form", function (e) {

        validateCategory()
        if (validateCategory()) {
        } else {
            e.preventDefault();
            swal.fire('Invalid data!');
            return false;
        }
    });
</script>