<link href="/assets/css/bootstrap-2.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="/assets/css/style3.css" rel="stylesheet">

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-12 d-flex align-items-center">
          <div class="card-body p-4 p-lg-5 text-black">

            <form action="/admin/edit-category" method="post">
              <div class="">
                <a href="/admin/category-management" class="" style="padding-left: 17rem;"><i
                    class="fa fa-times text-danger fa-3x" aria-hidden="true"></i></a>
              </div>
              <div class="d-flex align-items-center mb-3 pb-1">
                <span class="h1 fw-bold mb-0">Edit Category</span>
              </div>

              <div class="form-outline mb-2">
                {{#if catagoryErr}}
                <p class="text-danger">{{catagoryErr}}</p>
                {{/if}}
                {{#each catagoryDetails}}

                <input type="text" value="{{this.name}}" name="category" id="category"
                  class="form-control form-control-lg text-capitalize" onkeyup="validateCategory()" />
                <input type="text" value="{{this._id}}" class="d-none" name="id" id="form2Example17"
                  class="form-control form-control-lg" required />
                {{/each}}
                <label class="form-label" for="">Category Name</label>
                <span id="cat-error"></span>
              </div>
              <div class="pt-1">
                <button onsubmit="formSubmit()" class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
</body>

<script>
  var catError = document.getElementById('cat-error')

  function validateCategory() {
    var category = document.getElementById('category').value.trim();

    if (category.length == 0) {
      catError.innerHTML = 'Feild is Required';
      catError.style.color = 'red'
      return false;
    }

    if (!category.match(/^[A-Za-z ]*$/)) {
      catError.innerHTML = 'Only Alphabets allowed';
      catError.style.color = 'red'
      return false;
    }
    if (category.length < 2) {
      catError.innerHTML = 'Enter correct category';
      catError.style.color = 'red'
      return false;
    }

    catError.innerHTML = 'Name is valid';
    catError.style.color = 'green'
    return true;
  }

  $(document).on("submit", "form", function (e) {

    validateCategory()
    if (validateCategory()) {
    } else {
      e.preventDefault();
      swal.fire('Invalid data!');
      return false;
    }
  });
</script>