<link rel="stylesheet" href="/assets/css/style.css">

<footer class="footer mt-3">
    <div class="container service">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa fa-light fa-truck-fast"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Shipping</h3>
                        <!-- End .icon-box-title -->
                        <p>Orders $50 or more</p>
                    </div>
                    <!-- End .icon-box-content -->
                </div>
                <!-- End .icon-box -->
            </div>
            <!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa fa-solid fa-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Returns</h3>
                        <!-- End .icon-box-title -->
                        <p>Within 30 days</p>
                    </div>
                    <!-- End .icon-box-content -->
                </div>
                <!-- End .icon-box -->
            </div>
            <!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa fa-sharp fa-solid fa-tags"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                        <!-- End .icon-box-title -->
                        <p>When you sign up</p>
                    </div>
                    <!-- End .icon-box-content -->
                </div>
                <!-- End .icon-box -->
            </div>
            <!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa fa-light fa-headset"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">We Support</h3>
                        <!-- End .icon-box-title -->
                        <p>24/7 amazing services</p>
                    </div>
                    <!-- End .icon-box-content -->
                </div>
                <!-- End .icon-box -->
            </div>
            <!-- End .col-sm-6 col-lg-4 -->
        </div>
    </div>

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="widget widget-about">
                        <img style="width: 100px; height:100px ;" src="/assets/images/demos/demo-24/logo 1.jpg" class="footer-logo" alt="Footer Logo"
                            width="110" height="25">
                        <p>This is a bag store which contains all categories of products such as travel ,men, women,
                            kids etc. </p>

                        <div class="social-icons">
                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                    class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="social-icon" title="Youtube" target="_blank"><i
                                    class="fa-brands fa-youtube"></i></a>
                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                    class="fa-brands fa-pinterest"></i></a>
                        </div>
                        <!-- End .soial-icons -->
                    </div>
                    <!-- End .widget about-widget -->
                </div>
                <!-- End .col-sm-12 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">useful links</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">How to shop </a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul>
                        <!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-4 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        <!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-4 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                        <!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-64 col-lg-3 -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 baggy Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->

            <figure class="footer-payments">
                <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure>
            <!-- End .footer-payments -->

        </div>
        <!-- End .widget-about-info -->
    </div>
    <!-- End .container -->
    </div>
    <!-- End .footer-bottom -->
</footer>
</div>

<button id="scroll-top" title="Back to Top"><i class="fa-sharp fa-solid fa-arrow-up"></i></button>

<div class="mobile-menu-overlay">
</div>
<!-- End .mobil-menu-overlay -->
<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fa-sharp fa-solid fa-xmark"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/product-details">SHOP</a>
                </li>
                <div class="megamenu megamenu-sm">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="menu-col">
                                <div class="menu-title">
                                    <h6>categories</h6>
                                </div>
                                <!-- End .menu-title -->
                                <ul>
                                    <li><a href="/product-details">Men</a></li>
                                    <li><a href="/product-details">Women</a></li>
                                    <li><a href="/product-details">Kids</a></li>
                                    <li><a href="/product-details">Travel</a></li>
                                    <!-- <li><a href="#">Wallet</a></li> -->
                                </ul>
                            </div>
                            <!-- End .menu-col -->
                        </div>
                        <!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="banner banner-overlay">
                                <!-- <a href="category.html"> -->
                                <img src="/assets/images/menu/banner-2.jpg" alt="Banner">

                                <div class="banner-content banner-content-bottom">
                                    <div class="banner-title text-white">New Trends<br><span><strong>spring
                                                2022</strong></span></div><!-- End .banner-title -->
                                </div><!-- End .banner-content -->
                                </a>
                            </div>
                            <!-- End .banner -->
                        </div>
                        <!-- End .col-md-6 -->
                    </div>
                    <!-- End .row -->
                </div>
                <li>
                    <a href="about.html">ABOUT US</a>
                </li>
                <li>
                    <a href="contact.html">CONTACT US</a>
                </li>
                <li><a href="login.html" class="sf-with-ul">Login</a></li>

            </ul>
        </nav>
        <!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->
