{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<main class="container-fluid main">
    <div class="col-lg-12 col-md-12 col-12">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    {{#if user}}
    <div class="row">
    <div class="card">
        <img class="card-img opacity-50 img-fluid" src="/assets/images/demos/demo-24/banners/banner-3.jpg" alt="Card image">
        <div class="card-img-overlay text-center d">
            <h1 class="error-title ">Error 404</h1><!-- End .error-title -->
             <p class="mt-3">We are sorry, the page you've requested is not available.</p>
                <a href="/" class="btn btn-outline-primary-2 mt-4">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    </div>
    {{else}}
    <div class="row">
    <div class="card">
        <img class="card-img opacity-50 img-fluid" src="/assets/images/demos/demo-24/banners/banner-3.jpg" alt="Card image">
        <div class="card-img-overlay text-center d">
            <h1 class="error-title ">Error 404</h1><!-- End .error-title -->
             <p class="mt-3">We are sorry, the page you've requested is not available.</p>
                <a href="/admin" class="btn btn-outline-primary-2 mt-4">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    </div>
    {{/if}}
    </div>
</main><!-- End .main -->