<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
    style="background-image: url('/assets/images/demos/demo-24/banners/travel.jpg')">

    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="/signup" role="tab"
                            aria-controls="signin-2" aria-selected="false">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="/login" role="tab"
                            aria-controls="register-2" aria-selected="true">Login</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                        aria-labelledby="register-tab-2">
                        <form action="/otp-login" method="post">
                        
                            <div class="form-group">
                                <label for="register-email-2">Enter mobile number *</label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                    placeholder="mobile-number" onkeyup="validatePhone">
                                    <span id="phone-error"></span>
                            </div><!-- End .form-group -->

                            

                            <div class="form-footer">
            
                                <button type="submit" class="btn btn-outline-primary-2 ms-auto">
                                    <span>Send SMS</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>


                            </div><!-- End .form-footer -->
                        </form>

                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div><!-- End .login-page section-bg -->

<script>
    var phoneError= document.getElementById('phone-error')

    function validatePhone(){
        var phone=document.getElementById('phone').value.trim();
        var Required=15;
    var left=Required - phone.length;
    
    if(phone.length==0 || phone.length<10){
        phoneError.innerHTML ='Feild id Required';
        phoneError.style.color='red'
        return false;
    }
    phoneError.innerHTML='Mobile verified✅';
    phoneError.style.color='green'
    return true;
}
    $(document).on("submit", "form", function (e) {
        if (validatePhone()){

        }else {
        e.preventDefault();
        swal.fire('Invalid data!');
        return false;
    }
});
</script>


